.form {
    min-height: 100vh;
    max-width: 25vw;
    min-width: 430px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.form input, .form textarea {
    display: block;
    min-width: 95%;
    padding: 0.5rem;
    border-radius: var(--input-radius);
    border: none;
    resize: vertical;
}

.form h1{
    margin: 0;
}

.form > div {
    padding: var(--form-padding);
    background-color: var(--form-background-color);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    max-width: 18vw;
    backdrop-filter: var(--blur);
    -webkit-backdrop-filter: var(--blur);
}

.timeline {
    display: flex;
    gap: 1.5rem;
}

/* Education */
.education-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.education-section {
    display: none;
}

/* Experience */
.work-experience-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.work-experience-section {
    display: none;
}

/* Form Dropdown Animation */
.form-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    animation: expand 200ms ease;
    transform-origin: top;
}

@keyframes expand {
    0% {
        transform: scaleY(0);
    }
    
    100% {
        transform: scaleY(1);
    }
}

/* Collapsed */
.collapsed-item {
    border-bottom: 1px solid;
    cursor: pointer;
}

/* Edit Controls */
.edit-controls {
    display: flex;
}

button {
    font-size: 16px;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    width: fit-content;
    margin: 1rem auto 0;
}