.preview {
    height: fit-content;
    width: 35vw;
    background-color: var(--preview-background-color);
    padding: var(--preview-padding);
    box-shadow: var(--shadow);
    overflow: hidden;
}

/* Header Form*/
.header-preview {
    text-align: center;
}

.header-preview h1 {
    margin: 0;
}

.basic-info {
    display: flex;
    justify-content: center;
    gap: 3rem;
}

/* Education */
.education-preview h2 {
    margin-bottom: 0;
    border-bottom: 1px solid;
}

.education-info {
    display: flex;
    justify-content: space-between;
}

.education-info h4 {
    margin: 0;
}

.university-time-location-info {
    text-align: right;
}

/* Experience */
.experience-preview h2 {
    margin-bottom: 0;
    border-bottom: 1px solid;
}

.experience-info {
    display: flex;
    justify-content: space-between;
}

.experience-info h4 {
    margin: 0;
}

.company-time-location-info {
    text-align: right;
}

.company-description > p {
    margin-left: 2rem;
    font-weight: 300;
    white-space: pre-line;
}